In [3]:
# -----------------------------------------------------------
# The following code extracts Statewise Covid-19 data from mohfw.gov.in using python
#
# Code by: Himanshu Goyal
# Email: himanshu.4991@gmail.com
# -----------------------------------------------------------

'\nImport requests and BeautifulSoup libraries for Web Scraping\nImport Pandas and Numpy for\n'

In [1]:
"""
Import requests and BeautifulSoup libraries for Web Scraping
Import Pandas and Numpy for data processing and dataframes
"""

import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [5]:
url="https://www.mohfw.gov.in/#" #Trusted Govt. site to pull out statewise Covid19 data

In [6]:
"""
Request to a webpage and returning response code
Respose code 200 indicates successful connection
"""
response=requests.get(url)
print (response)

<Response [200]>

In [7]:
soup=BeautifulSoup(response.content, "html.parser") #Creating an object of BeautifulSoup

In [8]:
soup.title.text #Prints Title of the web page.

'MoHFW | Home'

In [11]:
#Displays summary or latest figures of India Covid19 cases

divs=soup.find("div", class_ ="site-stats-count")
for i in divs.find_all("div", class_="status-update"):
    print(i.text)   

detail=divs.find_all("ul")
for row in detail:
    for l in row.find_all("li")[0:-1]:
        text = l.find("span").text.strip()
        value = l.find("strong").text.strip()
        print (text + " " + "=" + " " + value)
        print("----------")

COVID-19 INDIA as on : 01 May 2020, 08:00 GMT+5:30

Active Cases = 25007
----------
Cured / Discharged = 8888
----------
Deaths = 1147
----------
Migrated = 1
----------

In [12]:
#Locates table(s) in web page 
coronatable=soup.find_all("table")
len(coronatable)

1

In [13]:
co=coronatable[0] #Create an empty list

In [15]:
#Fetching statewise table content
s_no=[]
state=[]
confirmed_cases=[]
cured=[]
deaths=[]
rows=co.find_all("tr")[1:-4]
for row in rows:
    col=row.find_all("td")
    s_no.append(col[0].text.strip())
    state.append(col[1].text.strip())
    confirmed_cases.append(col[2].text.strip())
    cured.append(col[3].text.strip())
    deaths.append(col[4].text.strip())
print(s_no)
print(state)
print(confirmed_cases)
print(cured)
print(deaths)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32']
['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal']
['33', '1403', '1', '42', '418', '56', '40', '3515', '7', '4395', '313', '40', '614', '109', '565', '497', '22', '2660', '10498', '2', '12', '1', '142', '8', '357', '2584', '2323', '1038', '2', '57', '2203', '795']
['16', '321', '1', '29', '82', '17', '36', '1094', '7', '613', '209', '28', '216', '20', '229', '383', '16', '482', '1773', '2', '0', '0', '39', '5', '90', '836', '1258', '397', '2', '36', '513', '139']
['0', '31', '0', '1', '2', '0', '0', '59', '0', '214', '3', '1', '8', '3', '21', '4', '0', '137', '459', '0', '1', '0', '1', '0', '19', '58', '27', '26', '0', '0', '39', '33']

In [16]:
#Create DataFrame from the fetched lists
df=pd.DataFrame(list(zip(state, confirmed_cases,cured,deaths)), columns=["State","Total_Cases","Cured","Deaths"])
df

                          State Total_Cases Cured Deaths
0   Andaman and Nicobar Islands          33    16      0
1                Andhra Pradesh        1403   321     31
2             Arunachal Pradesh           1     1      0
3                         Assam          42    29      1
4                         Bihar         418    82      2
5                    Chandigarh          56    17      0
6                  Chhattisgarh          40    36      0
7                         Delhi        3515  1094     59
8                           Goa           7     7      0
9                       Gujarat        4395   613    214
10                      Haryana         313   209      3
11             Himachal Pradesh          40    28      1
12            Jammu and Kashmir         614   216      8
13                    Jharkhand         109    20      3
14                    Karnataka         565   229     21
15                       Kerala         497   383      4
16                       Ladakh          22    16      0
17               Madhya Pradesh        2660   482    137
18                  Maharashtra       10498  1773    459
19                      Manipur           2     2      0
20                    Meghalaya          12     0      1
21                      Mizoram           1     0      0
22                       Odisha         142    39      1
23                   Puducherry           8     5      0
24                       Punjab         357    90     19
25                    Rajasthan        2584   836     58
26                   Tamil Nadu        2323  1258     27
27                    Telengana        1038   397     26
28                      Tripura           2     2      0
29                  Uttarakhand          57    36      0
30                Uttar Pradesh        2203   513     39
31                  West Bengal         795   139     33

In [31]:
#Exploring dataframe
df.info() # df.dtypes too can be used to see data type of each variable
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        32 non-null     object
 1   Total_Cases  32 non-null     object
 2   Cured        32 non-null     object
 3   Deaths       32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

                    State Total_Cases Cured Deaths
count                  32          32    32     32
unique                 32          29    28     18
top     Jammu and Kashmir          40     0      0
freq                    1           2     2     11

In [40]:
#Checks Missing Values in dataframe
df.isnull().sum()

# df['Total_Cases'].isnull().sum() Returns the count of null values in Total_Cases column

State          0
Total_Cases    0
Cured          0
Deaths         0
dtype: int64